
<div class="row">
  <div class="col-md-2">
    <h3>Links</h3>
    <ul>
      <li><a ui-sref="areas">Areas</a></li>
      <li><a ui-sref="discount_groups">Discount Groups</a></li>
      <li><a ui-sref="brands">Brands</a></li>
      <li><a ui-sref="item_segments">Item Segments</a></li>
      <li><a ui-sref="vans">Vans</a></li>
      <li><a ui-sref="store_types">Store Types</a></li>
      <li><a ui-sref="salesmen">Salesmen</a></li>
      <li><a ui-sref="vat_postings">VAT Posting Codes</a></li>
      <li><a ui-sref="customers">Customers</a></li>
      <li><a ui-sref="customer_price_groups">Customer Price Groups</a></li>
      <li><a ui-sref="items">Item Master</a></li>
    </ul>
  </div>

  <div class="col-md-10">
    <div ui-view class="main"></div>
  </div>
</div>